body {
	width: 21cm;
	height: 29.7cm;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	border: solid 1px LightGrey;
	border-radius: 0.5cm;
}

.details {
	border-radius: 0.5cm 0 0 0.5cm;
	float: left;
	width: 6.4cm;
	height: 100%;
	text-align: center;
	background-color: WhiteSmoke;
}

.details-title {
	padding: 0.5cm 0 0.2cm 0;
	font-size: 9pt;
	color: Grey;
}

.contents {
	border-radius: 0 0.5cm 0.5cm 0;
	float: left;
	width: 14.6cm;
	height: 100%;
	background-color: White;
}

.img-circle {
	width: 4cm;
	border-radius: 50%;
	margin: 0.6cm 1.2cm;
}

.img-circle:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary {
	background-color: White;
	border-radius: 0.6cm;
	margin: 0 0.45cm;
	padding: 0.3cm;
	font-size: 9pt;
}

.summary:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.summary-title {
	padding: 0.2cm 1.2cm 0.1cm 1.2cm;
	font-size: 9pt;
	color: Grey;
}

.details-skill {
	text-align: left;
	padding: 0.5cm 0 0.2cm 0;
	margin: 0 0.4cm;
}

.summary-skill {
	display: inline-block;
	background-color: White;
	border-radius: 0.4cm;
	padding: 0.2cm 0.3cm;
	font-size: 9pt;
	margin: 0.1cm 0.05cm;
}

.summary-skill:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.search-box {
	padding: 8px 12px;
	border: solid 1px LightGrey;
	border-radius: 0.4cm;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}